 geolocation in SGMF

 geolocation could be helpfull to compute some moving receivers? Setting position could be done on pluto itself (gps device) or external setting.  In both cases, Rest API should be OK.

Short of https://github.com/sigmf/SigMF/blob/sigmf-v1.x/sigmf-spec.md

The geolocation Field

The location of the Recording system. The location is stored as a single [RFC 7946](https://www.rfc-editor.org/rfc/rfc7946.txt) GeoJSON point Object using the convention defined by [RFC 5870](https://www.rfc-editor.org/rfc/rfc5870.txt). Per the GeoJSON specification, the point coordinates use the WGS84 coordinate reference system and are longitude, latitude (REQUIRED, in decimal degrees), and altitude (OPTIONAL, in meters above the WGS84 ellipsoid) - in that order. An example including the altitude field is shown below:

  "global": {
    ...
    "core:geolocation": {
      "type": "Point",
      "coordinates": [-107.6183682, 34.0787916, 2120.0]
    }
    ...
  }
GeoJSON permits the use of Foreign Members in GeoJSON documents per RFC 7946 Section 6.1. Because the SigMF requirement for the geolocation field is to be a valid GeoJSON point Object, users MAY include Foreign Member fields here for user-defined purposes (position valid indication, GNSS SV counts, dillution of precision, accuracy, etc). It is strongly RECOMMENDED that all fields be documented in a SigMF Extension document.

Note: Objects named geometry or properties are prohibited Foreign Members as specified in RFC 7946 Section 7.1.

I remember discussing something similar with @cemaxecuter on Twitter. In that discussion the idea was to run `gpsd` on the Pluto, which limited the applicability, since very few people have `gpsd` connected to a GPS device on the Pluto. I like the idea of exposing a geolocation as part of the REST API. The geolocation could be set both internally (in the rare case where `gpsd` is running) or externally by a REST PUT or PATCH. It might even be possible to update the geolocation from maia-wasm if it's running on something like a phone with GPS (I don't know if it's possible to query the GPS location from a web app). If the geolocation has been previously set in the REST API, the SigMF recording would include the `"core:geolocation"` in the metadata.

However something to note about `"core:geolocation"` in SigMF. My reading of the standard is that it belongs in the `global` object, so it is a static position that applies to the whole capture. I don't know if it's possible in SigMF core to encode the position of a receiver that is moving throughout the recording. Still, having the possibility to have a global `"core:geolocation"` probably covers most use cases, since recordings at high sample rate are going to be just a few seconds long in any case.

There is indeed a [Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API) in HTML5. [This test](https://browserleaks.com/geo) looks nice. The API is [available in wasm-bindgen](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.Geolocation.html).

I didn’t notice, would the html5 be capable of piping from gpsd on the host that’s requesting the page?

It looks like the state of support for gpsd in web browsers is somewhat messy: https://stackoverflow.com/a/53913402

Since the geolocation will be settable through the REST API, it should be quite easy to write a small script that runs on the host and periodically gets the location from gpsd and updates it on the REST API.

The HTML5 geolocation API is interesting mainly because it works out of the box in phones.

I see, so the browser assumes more so that the person has internet and so gps location would be pulled roughly from that, or if it was phone it would be pulled from other sensors? 

I'm working on implementing this. The maia-httpd side of things is ready in the [geolocation branch](https://github.com/maia-sdr/maia-sdr/tree/geolocation), but I'm hitting a roadblock with maia-wasm. Apparently [web browsers refuse to use the Geolocation API over HTTP connections](https://stackoverflow.com/a/58501137).

This is really old but mentions it allowing localhost
https://stackoverflow.com/questions/39366758/geolocation-without-ssl-connection

I used nginx proxy in another use case to allow localhost to take me to MaiaSDR, but that was implemented on the host the Pluto was plugged into. 

If you have a host, and the host has gps/gpsd running it can be reconfigured to allow gpsd data to be shared outside of localhost. Worse case, maybe code in Maia SDR can pull a gps location from the host over the network connection between the two when it needs location for sigmf - if the browser geolocation option doesn’t work out. 

> Apparently [web browsers refuse to use the Geolocation API over HTTP connections](https://stackoverflow.com/a/58501137).

I have added HTTPS support with a "built-in" self-signed certificate to maia-httpd to get around this.

Assuming gpsd running on pluto (usb gps plugged-in), what is the easy way to fill sigmf location option ? Script bash to send rest API commands ?

A Python script would probably be easier to write.

Firmware with python on pluto : only if sd or usb rootfs : not on qspi flash. Maybe a function on maia-httpd trying to use gpsd onboard and on failure use html5 geoloc ?

In my case the PlutoSDR is paired with a CM4 that has both GPSD running and an attached GPS. So I’d just want the Pluto pulling from the host so that everything else on the CM4 has access to GPS. Since the PlutoSDR is external and unless I reconfigure glad to allow connection from outside localhost, I figure a simple webapi that the PlutoSDR can pull from when needed is adequate? Wondering also if a host is involved, is there any way for the generated SIGMF file to be automatically pushed over to the host and off the Pluto? 

> Firmware with python on pluto : only if sd or usb rootfs : not on qspi flash. Maybe a function on maia-httpd trying to use gpsd onboard and on failure use html5 geoloc ?

I'm not planning to work on this myself, because few people use gpsd on the Pluto (I don't think it's even on the default rootfs), but I'm willing to merge if someone implements it an it's low impact. By low impact I mean that it doesn't disturb other functionality, and specially, that the code size is small. I'm frequently running into problems where I need to reduce the rootfs size on the Pluto because I'm getting kernel panics when the kernel copies the rootfs. On this one I had to `.xz` the `maia-http` binary to make things work. There might be a smarter way around this, because once they system is booted there is more spare memory.

> Or if the Pluto is combined with a host running gpsd - something like this that the Pluto can request info from.

The host should be the one sending REST PUTs to maia-httpd on the Pluto.

> So I’d just want the Pluto pulling from the host so that everything else on the CM4 has access to GPS. Since the PlutoSDR is external and unless I reconfigure glad to allow connection from outside localhost, I figure a simple webapi that the PlutoSDR can pull from when needed is adequate?

I don't get why you want to pull from the Pluto rather than push from the host. The Pluto doesn't even know what the host address is (there might be multiple potential hosts, etc).

> Wondering also if a host is involved, is there any way for the generated SIGMF file to be automatically pushed over to the host and off the Pluto?

Again, not with pushing, but yes with pulling from the host. Basically you can automate everything that happens to make a recording with the UI using a script on the host that does REST API queries. You send a query to start the recording, then poll the recording state until it's finished (at the moment there is no way to get notifications through a websocket or similar), and then get the recording.

You’re probably correct, for some reason I thought when the PlutoSDR is plugged in via USB the connected host always gets the same IP. I figured if that was the case if/when the PlutoSDR needed GPS it could grab it from the host via a webapi on the host. Obviously if my thought of the host always getting the same IP is incorrect, that probably wouldn’t work. 

But I wonder how hard would it be for the Pluto to get the IP of the host considering it’s the only thing plugged in via USB that the Pluto is giving an IP to? Whatever ends up working is cool. 

I like what you’re saying about the host doing the query and getting the recording. I’ll check that out.

If you’re running the PlutoSDR with Ethernet adapter I see what you’re saying, but that could maybe be an entry on the Maia page that asks the user where to pull GPS from - assuming users of your firmware accepted a standard script that’d run on a host or if they’d accept opening up gpsd to more then just local host. 

If instead you push to the Pluto, you’d have to essentially be streaming to it constantly right? As you’d have no idea when someone would hit record. 

> I thought when the PlutoSDR is plugged in via USB the connected host always gets the same IP

I don't remember if there is `udhcpd` running on the Pluto, but the host may or may not use it.

> But I wonder how hard would it be for the Pluto to get the IP of the host considering it’s the only thing plugged in via USB that the Pluto is giving an IP to?

The USB acts as an Ethernet network. The host may have nor or multiple IPs, and there could be multiple hosts if this is bridged to another network.

> If instead you push to the Pluto, you’d have to essentially be streaming to it constantly right? As you’d have no idea when someone would hit record.

And what's the problem with this?

Probably no problem now that I think about it streaming the info to the Pluto - so for example gpsd running on the host paired with some script to pull gps and post to something at the 192.168.2.1 or whatever of the PlutoSDR that would be waiting to accept? Then the PlutoSDR would have access to the most up to date gps info from the host upon any attempt to save sigmf? 

I like this. What would be needed PlutoSDR side, would you make some standard for a post to push info to? Happy to test. 

The REST API that supports setting the maia-httpd geolocation via a PUT request is already implemented in #121.

Wow, perfect. Sorry I didn’t see this sooner. I’ll try and create something that gets info from gpsd and constantly does a PUT to the rest api. 